<h2>Tempo rimanente alla tua Maturità 2023:</h2>
<div class="timer">
  <countdown #cd [config]="config"></countdown>
</div>
<div class="legend">
  <p>Mesi | Giorni | Ore | Minuti | Secondi</p>
  <p>21 Giugno 2023 / 08.30</p>
</div>
<div class="spotify">
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/148uoUpRp6FJK5qYoXijwm?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
</div>
